.arrow {
  display: inline-block;
  position: relative;
  background: currentColor;
  height: 2px;
  width: 3rem;
  margin: 0.4rem 1rem;

  &::after {
    content: '';
    display: block;
    height: 0.4rem;
    width: 0.4rem;
    border: 2px solid currentColor;
    border-width: 0 2px 2px 0;
    transform: translateY(calc(-50% + 1px)) rotate(-45deg);
    position: absolute;
    top: 0;
    right: 0;
  }
}
