/* Defaults */
:root {
  font-size: 15px;
  font-weight: 200;
  font-family: 'Poppins', 'Arial', sans-serif;

  --color-bg: #fff;
  --color-text: #333;
  --color-tinted: #f6f6f9;
}

/* Custom reset */
* {
  outline: none;
  box-sizing: border-box;
}

/* Layout */
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'main column top'
    'main column bottom';
  grid-template-columns: 1fr 35% 20rem;
  grid-template-rows: repeat(2, 1fr);
  line-height: 1.5;
  background: var(--color-bg);
  color: var(--color-text);

  &.dark {
    --color-bg: #131316;
    --color-text: #fff;
    --color-tinted: #232326;
  }

  #main {
    grid-area: main;

    header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  #column {
    grid-area: column;
    position: relative;
  }

  #top {
    grid-area: top;
    position: relative;
  }

  #bottom {
    grid-area: bottom;
    position: relative;
  }
}

#contact {
  display: flex;
  justify-content: flex-end;

  section + section::before {
    content: '|';
    margin: 0 0.4em 0 0.5em;
  }
}

/* Components */
.box {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.nav-next {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.5rem 0 2.5rem;
  margin-left: auto;
}

/* Modifiers */
.tinted { background: var(--color-tinted); }

/* Helpers */
.centered { text-align: center; }
.at-bottom { margin-top: auto; }
.at-center { margin: auto; }

.at-left {
  right: auto !important;
  left: 0 !important;
}

/* Light / Dark mode */
@media (prefers-color-scheme: dark) {
  .wrapper {
    --color-bg: #131316;
    --color-text: #fff;
    --color-tinted: #232326;
  }
}
