@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;700&display=swap');

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
  margin-top: 1em;
  position: relative;
}

h1 { font-size: min(10vw, 3rem); }
h2 { font-size: min(7vw, 1.75rem); }
h3 { font-size: 1.5rem; }

p {
  margin: 1rem 0;
  position: relative;
}

em {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  position: relative;
  font-weight: lighter;
  display: block;
}

big {
  font-size: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover { font-weight: bold; }
}

.formatted a { font-weight: bold; }

blockquote {
  padding: 1rem 2rem;
  position: relative;

  &::before {
    content: '\2018\2018';
    display: block;
    position: absolute;
    top: -6rem;
    left: -1rem;
    font-size: 15rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-text);
    opacity: 0.125;
    letter-spacing: -1.5rem;
  }

  p {
    color: var(--color-text);
    opacity: 0.5;
    font-size: 1.125rem;
    line-height: 1.25;
  }

  span {
    text-align: right;
    font-size: 0.8rem;
    display: block;
  }
}
